/! script
script src="reveal.js/lib/js/head.min.js"
script src="reveal.js/js/reveal.min.js"
- if data.page.plugin == "remote"
  script src="reveal.js/js/remotes.ne.min.js"
javascript:
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,
    
    theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
    transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none
    
    // Optional libraries used to extend on reveal.js
    dependencies: [
      { src: 'reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
      { src: 'reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: 'reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: 'reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
      { src: 'reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
      { src: 'reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
    ]
  });
  
  new Remotes("preview")
  .on("swipe-left", function(e){ 
  /* what happens when i swipe left on my phone? */ 
    Reveal.next();
  })
  .on("swipe-right", function(e){ 
    /* what happens when i swipe right on my phone? */ 
    Reveal.prev();
  })
  .on("swipe-up", function(e){ 
    /* let's go up */ 
  })
  .on("swipe-down", function(e){ 
    /* it's going down */ 
  })
  .on("tap", function(e){ 
    /* and the screen explodes */ 
    Reveal.toggleOverview();
  })
  .on("hold", function(e){ 
    /* hold on */ 
  })
  .on("release", function(e){ 
    /* hands off */ 
  }); 
