doctype html
html
  head
    meta(content="text/html" charset="utf-8")
    title tmp
    script(type="text/javascript", src="bower_components/coffee-script/extras/coffee-script.js")
    script(type="text/javascript", src="bower_components/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="bower_components/tmlib.js/build/tmlib.min.js")
    
    script(type="text/javascript", src="tmp.js")
    link(href="tmp.css", rel="stylesheet")
    
    style(type="text/css")
    script(type="text/javascript")
    script(type="text/coffeescript")
  body
    #tmp(onClick="add()") tmp
    
    canvas#world
    
    
    
    //- ractive
      script(type="text/javascript", src="bower_components/ractive/ractive.min.js")
      #result
      
      script#myTemplate(type="text/ractive")
        {{user}}
        {{messages.unread}}
    
    
    //- bacon.js3
      script(type="text/javascript", src="bower_components/bacon/dist/Bacon.min.js")
      input#input(type="text")
      #results(style="position: absolute; z-index:1000;background-color: white; padding: 0.5em")
    
    
    //- bacon.js2
      script(type="text/javascript", src="bower_components/bacon/dist/Bacon.min.js")
      #up up
      #down down
      #counter
    
    //- bacon.js
      #clickable-block {
          width:10em;
          height:10em;
          background: #F1C40F;
          position:absolute;
      }
      #hukuse {
          width:10em;
          height:10em;
          background: #983;
          position:absolute;
      }
      div:hover { cursor: pointer; }
      #clickable-block
      #hukuse
    
    //- mocha
      script(type="text/javascript", src="bower_components/mocha/mocha.js")
      script(type="text/javascript", src="bower_components/chai/chai.js")
      link(href="bower_components/mocha/mocha.css", rel="stylesheet")
    
    //- jasmine
      script(type="text/javascript", src="bower_components/jasmine/dist/jasmine-standalone-2.0.3/lib/jasmine-2.0.3/jasmine.js")
      script(type="text/javascript", src="bower_components/jasmine/dist/jasmine-standalone-2.0.3/lib/jasmine-2.0.3/jasmine-html.js")
      script(type="text/javascript", src="bower_components/jasmine/dist/jasmine-standalone-2.0.3/lib/jasmine-2.0.3/boot.js")
      script(type="text/javascript", src="bower_components/jasmine/dist/jasmine-standalone-2.0.3/lib/jasmine-2.0.3/console.js")
      link(href="bower_components/jasmine/dist/jasmine-standalone-2.0.3/lib/jasmine-2.0.3/jasmine.css", rel="stylesheet")
      link(rel="shortcut icon" type="image/png" href="bower_components/jasmine/dist/jasmine-standalone-2.0.3/lib/jasmine-2.0.3/jasmine_favicon.png")
    
    
    //- qunit
      script(type="text/javascript", src="bower_components/qunit/qunit/qunit.js")
      link(href="bower_components/qunit/qunit/qunit.css", rel="stylesheet")
      h1#qunit-header QUnit Test Suite
      h2#qunit-banner
      #qunit-testrunner-toolbar
      h2#qunit-userAgent
      ol#qunit-tests
      #qunit-fixture test markup, will be hidden
    
    
    
    
    //- raphael
      script(type="text/javascript", src="bower_components/raphael/raphael-min.js")
    
    
    //- visualize
      script(type="text/javascript", src="visualize.jQuery.js")
      link(href="visualize.css", rel="stylesheet")
      link(href="visualize-dark.css", rel="stylesheet")
      table#tab
        caption 2009 Employee Sales by Department
          thead
            tr
              td
              th(scope='col') food
              th(scope='col') auto
              th(scope='col') household
              th(scope='col') furniture
              th(scope='col') kitchen
              th(scope='col') bath
          tbody
            tr
              th(scope='row') Mary
              td 190
              td 160
              td 40
              td 120
              td 30
              td 70
            tr
              th(scope='row') Tom
              td 3
              td 40
              td 30
              td 45
              td 35
              td 49
            tr
              th(scope='row') Brad
              td 10
              td 180
              td 10
              td 85
              td 25
              td 79
            tr
              th(scope='row') Kate
              td 40
              td 80
              td 90
              td 25
              td 15
              td 119

    
    //- morrisjs
      script(type="text/javascript", src="bower_components/raphael/raphael-min.js")
      script(type="text/javascript", src="bower_components/morrisjs/morris.min.js")
      #morri(style="height: 250px;")
    
    //- テーブルデータをグラフに
      script(type="text/javascript", src="chartify.min.js")
      table#pac
        thead
          tr
            th not
            th pac
        tbody
          tr
            td 1.256
            td 5.027
    
    //- アイコン風グラフ
      script(type="text/javascript", src="bower_components/peity/jquery.peity.min.js")
      .pie.cha 1/5
      .pie 226/230
      .pie 0.52/1.561
      .pie 1,4
      .pie 226,134
      .pie 1,3,4,2,2
      
      .line.update 1,4,3,3,4,5,4,4,6,8,3
      .line 1,4,-3,3,-4,5,4,-4,-6,8,3
    
    //- graphene ダメだった
      script(type="text/javascript", src="bower_components/graphene/graphene-standalone.min.js")
    
    //- sigma ダメだった
      script(type="text/java      #container {
          max-width: 400px;
          height: 400px;
          margin: auto;
        }
        
        sigma.parsers.json('data.json', {
          container: 'container',
          settings: {
            defaultNodeColor: '#ec5148'
          }
        });
      script", src="bower_components/sigma/build/sigma.min.js")
      script(type="text/javascript", src="bower_components/sigma/build/plugins/sigma.parsers.json.min.js")
      #container
      
    //- リアルタイムflotr2
      script(type="text/javascript", src="bower_components/flotr2/flotr2.min.js")
      #add(onclick="add()") add
      #graph
    
    //- flotr2
      body {
        margin: 0px;
        padding: 0px;
      }
      #graph {
        width : 600px;
        height: 400px;
        margin: 20px auto;
      }
      .graph-title {
        font-size:16px;
        font-weight:bold;
        text-align:center;
        margin:50px 0 0;
        }
      script(type="text/javascript", src="bower_components/flotr2/flotr2.min.js")
      #graph
    
    //- リアルタイム更新
      script(type="text/javascript", src="bower_components/d3/d3.min.js")
      script(type="text/javascript", src="bower_components/rickshaw/rickshaw.min.js")
      #tmp(onclick="add()") tmp
      #chart


    //- rickshaw
      script(type="text/javascript", src="bower_components/d3/d3.min.js")
      script(type="text/javascript", src="bower_components/rickshaw/rickshaw.min.js")
      #chart
    
    //- handwritten css
      link(href="http://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet" type="text/css")
      h2 tmp
    

    //- knockout 解析
      input(type="text" value="" placeholder="入力" data-bind="value: inputValue")
      button(data-bind="click: add")
        | add

      div(data-bind="foreach: list, visible: list().length > 0")
        div
          span(data-bind="text: text")
            | Todo
          button(data-bind="click: $root.remove")
            | delete
    
    //- knockout でTodoリスト
      p
        input(type="text" value="" placeholder="TODOを入力" data-bind="value: todoInputValue")
        button(data-bind="click: addTodo")
          | 追加

      ul(data-bind="foreach: todoList, visible: todoList().length > 0")
        li
          span(data-bind="text: todoText")
            | Todo
          |  - 
          button(data-bind="click: $root.removeTodo")
            | 削除
    
    
    //- knockout タスクリストサンプル
      div(data-bind="foreach: tasks")
        div(class="task")
          div(data-bind="visible: !editing()")
            | 通常表示するビュー。
            input(type="checkbox" data-bind="checked: completed")
            span(data-bind="if: !completed()")
              span(data-bind="text: name")
            del(data-bind="if: completed()")
              span(data-bind="text: name")
            a(href="javascript:void(0);" data-bind="event: { click: toggleEdit }")
              | [edit]
          
          div(data-bind="visible: editing()")
            | 編集時に表示するビュー
            input(type="text" data-bind="value: name")
            input(type="button" data-bind="event: { click: toggleEdit }" value="編集終了")
            input(type="button" data-bind="event: { click: destroy }" value="削除")
      br
      | form の submit イベントと、appViewModel の addTask メソッドをバインドする
      form(data-bind="event: { submit: addTask }")
        | keyup が発生するたびに、appViewModel.newTaskName の値を更新する
        input(type="text" data-bind="value: newTaskName, valueUpdate: 'keyup'")
        br
        | appViewModel.newTaskName が空のときはボタンを無効にする
        input(type="submit" data-bind="enable: newTaskName().length > 0" value="登録")
      
      
    //- knockout data-bindの試し書き
      input(type="text" data-bind="value: message, valueUpdate: 'afterkeydown'")
      p(id="result" data-bind="text: message") ここに入力されたテキストと同じものが入る

    //- knockout wiki曰く
      p First name:
        input(data-bind="value: firstName, valueUpdate: 'afterkeydown'")
      p Last name: 
        input(data-bind="value: lastName, valueUpdate: 'afterkeydown'")
      h2 Hello, 
        span(data-bind="text: fullName") !
  
    
    //- knockout Modelのテスト用
      span(data-bind="text: value")
      input(id="btn" type="button" value="btn" data-bind="click: btn")

      input(id="btn" type="button" value="btn2" onclick="ddd()")
    
    
    //- 
      | // knockout ViewはViewModelを知っているべきでViewModelはViewを知らなくてもよい
      span(data-bind="text: pN1")
      br
      span(data-bind="text: pN2")
      br
      span(data-bind="text: pN3")
    
    
    //-
    
    
    
