doctype html
html
  head
    meta(content="text/html" charset="utf-8")
    title tmp
    script(type="text/javascript", src="bower_components/coffee-script/extras/coffee-script.js")
    script(type="text/javascript", src="bower_components/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="bower_components/vue/dist/vue.min.js")
    
    script(type="text/javascript", src="tmp.js")
    link(href="tmp.css", rel="stylesheet")
    
    style(type="text/css")
    script(type="text/javascript")
    script(type="text/coffeescript")
  body
    #tmp(onClick="add()") tmp
    
    

